.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.span {
  font-size: 15px;
  font-family: fantasy;
}
